.aside{
    width: 50%;
}
.article{
    width: 50%;
    

}
main{
    display: flex;
}
.new{
    font-family: Otomanopee One;
}
.news{
    font-family: Noto Sans KR;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
}
.nav-bar p{
    font-size: 18px;
}